# Requisitos para el proyecto de tasación y optimización de viviendas

# Librerías principales
scikit-learn==1.3.0
numpy==1.24.3
pandas==2.0.3
xgboost==2.0.3

# Optimizador Gurobi
gurobipy
gurobi-machinelearning

# Dependencias adicionales recomendadas
scipy
matplotlib==3.7.2
seaborn==0.12.2
jupyterlab

joblib
